
.navbar {
    background: $light;
    border-bottom: 1px solid $neutral;
    display: flex;
    height: $navbar-height;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem max(calc((100vw - #{$app-width} - #{$app-margin})/2), (100vw - #{$app-max-width})/2);

    ul {
        display: flex;
        justify-content: flex-end;
    }
    
    li {
        list-style: none;
        font-weight: $font-normal;
        margin: 0 0.5rem 0 0;
        padding: .5rem 0.25rem;
        &:last-of-type {
            margin-right: 0;
        }
        a {
            text-decoration: none;
            color: $dark;
            &.current-page {
                border-bottom: 2px solid $darkest;
                font-weight: $font-bold;
            }
            
        }
    }
}



